doctype html
html(lang="ru")
  head
    link(rel="stylesheet", type="text/css", href="/css/dat.gui.css")
    link(rel="stylesheet", type="text/css", href="/css/main.css")

    script(src="js/seedrandom.min.js")
    script(src="js/jquery-3.1.1.min.js")
    script(src="js/dat.gui.min.js")
    script(src="js/babylon.js")
    //- script(src="js/babylon.canvas2d.min.js")

  body
    block body
    block scripts